@import "tailwindcss";
@theme {
    --color-primary: #27644F;
    --color-secondary: #C0E4BF;
    --color-surface: #F7F7F7;
    --color-text-primary: #2C2C2C;
    --color-text-secondary: #5E5E5E;
    --color-border: #E0E0E0;
    --color-danger: #E33033;
    --color-accent: #FFFFFF;
    --color-overlay: rgba(0, 0, 0, 0.5);
}